/target/
/dist/
/release-build/
MC-Tunnel-Windows-x64.zip
**/*.exe
**/*.dll
**/*.pdb
**/*.runtimeconfig.json
**/*.deps.json
**/obj/
**/bin/
mc-tunnel-config.json
**/pac/
.DS_Store
Thumbs.db
*.user
*.suo
.idea/
.vs/
deploy/_*.py
deploy/_*.log
