/target/
/release/
/release-staging/
/release-staging2/
**/*.exe
**/*.dll
**/*.pdb
**/*.runtimeconfig.json
**/*.deps.json
**/obj/
**/bin/
mc-tunnel-config.json
**/pac/
.DS_Store
Thumbs.db
*.user
*.suo
.idea/
.vs/
